html{
    body{
        .logoSmallSize{
            width:147px; max-width:100%;
        }
        .logoBigSize{
            width:270px; max-width:100%;
        }
        .w-99{
            width:99% !important;
        }
        .grayLine3{
            width:100%;
            max-width:100%;
            height:3px;
            background-color: #c3c4c5;
        }
      

    }
}