.btn-outline-success{
    border:1px solid #019868 !important;
    font-size:18px !important;
    color:#019868 !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    }
    .btn-outline-success:hover{

    color:white !important;

    }
    .btn-outline-secondary{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size:18px !important;
    }
.btn-success-w560-h56{
    width:560px !important; height:56px !important;
    font-size:18px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
}
.mainBtn{
    background:#019868 !important;
    line-height: 42px !important;
    font-size:18px !important;
    }
    .mainBtn-w378-h56{
    background:#019868 !important;
    font-size:18px !important;
    width:378px !important; height:56px !important;
    display:flex !important; justify-content: center !important; align-items: center !important;
    }
    .mainBtn-green-a{
    border:1px solid #019868 !important;
    font-size:18px !important;
    line-height:40px !important;
    }
    .mainBtn-gray{
    background:#f7f7f7 !important;
    line-height: 42px !important;
    font-size:18px !important;
    }
    .mainBtn-gray-w378-h56{
    background:#f7f7f7 !important;
    height:56px !important;
    width:378px !important;
    font-size:18px !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    }
    .mainBtn-w57-h34{
    width:57px !important; height:34px !important;
    background:#019868 !important; font-size:14px !important;
    }
    .mainBtn-w84-h36{
    width:98px !important; height:36px !important;
    font-size:16px !important; letter-spacing: -1px !important;
    line-height: 24px !important;
    }
    .mainBtn-outline-w84-h42{
    width:84px !important; height:42px !important;
    font-size:14px !important; letter-spacing: -2px !important;
    line-height: 24px !important;
    }
    .mainBtn-outline-w110-h42{
    width:110px !important; height:42px !important;
    font-size:10px !important; letter-spacing: -3px !important;
    line-height: 24px !important;
    }
    .mainBtn-outline-w748-h112{
    width:748px !important; height:112px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
.btn-success{
background-color: #019868 !important;
color:white !important;
font-size:18px !important;
font-weight:500 !important;
font-family: 'Pretendard-Regular' !important;
display:flex !important; justify-content:center !important; align-items: center !important;
}

.btn-outline-success{
    border:1px solid #019868 !important; 
    font-size:18px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-w100-h42{
    width:100px !important; height:42px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-success-w100-h42{
    width:100px !important; height:42px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
    .btn-outline-success-w105-h24{
    width:105px !important; height:24px !important;
    font-size:10px !important; font-weight:400 !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
    .btn-success-w178-h26{
    width:178px !important; height:26px !important;
    font-size:12px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
    .btn-outline-success-w378-h42{
    width:378px !important; height:42px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-w178-h46{
    width:178px !important; height:46px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-w178-h56{
    width:178px !important; height:56px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-14-a{
    border:1px solid #019868 !important; 
    font-size:14px !important;
    line-height: 28px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
    .btn-outline-success-w179-h42{
    width:179px !important; height:42px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-w68-h32{
      width:68px !important; height:32px !important; font-weight:400 !important;
      font-size:12px !important;
      display:flex !important; justify-content:center !important; align-items: center !important;  
      border:1px solid #019868 !important;
    }
    .btn-success-w85-h24{
    width:85px !important; height:24px !important;
    font-size:10px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;    
    }
    .btn-success-w179-h42{
    width:179px !important; height:42px !important;
    font-size:14px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-outline-success-w100-h42{
    width:100px !important; height:42px !important;
    font-size:14px !important; letter-spacing: -0.8px;
    display:flex !important; justify-content:center !important; align-items: center !important;    
    }
    .btn-outline-success-w178-h56{
    width:178px !important; height:56px !important;
    font-size:18px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;  
    }
    .btn-success-w190-h52{
    width:190px !important; height:52px !important;
    font-size:18px !important;
    display:flex !important; justify-content:center !important; align-items: center !important;    
    }
    .btn-outline-success-18-a{
    border:1px solid #019868 !important; 
    font-size:18px !important;
    font-weight:500 !important;
    line-height: 40px !important;
    color:#019868 !important;
    display:flex !important; justify-content:center !important; align-items: center !important;
    }
    .btn-light{
    background-color: #f7f7f7 !important;
    font-size:18px !important;
    color:#151515 !important;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    }
.custom-outline-green{
width:68px !important;
height:32px !important;
background-color: white !important;
color:#019868 !important;
border:1px solide #019868 !important;
}
.btn-outline-success-small{
width:85px !important; height:24px !important;
color:white !important; font-size:12px !important;
}
.fsGreenSmall{
font-size:14px !important;
}