.Color77787b{color:#77787b !important;}.ColorC3c4c5{color:#c3c4c5 !important;}
.ColorDb121a{color:#db121a !important;}.Color2150ca{color:#2150ca !important;}
.text-success{color:#019868 !important;}.text-light{color:#c3c4c5 !important;}
.color151515{color:#151515 !important;}