.mag{
    background-image: url(../../images/mag.png);
    background-size: 18px 18px !important;
    background-repeat: no-repeat !important;
    background-position: 15px center !important;
}
input[type=text]{
text-indent:10px !important;
}
input[type=password]{
text-indent:10px !important;
}