.table-custom-40 > thead > tr > th {font-size:14px !important;color:#77787b !important;border:1px solid #DDDEDE !important;
    border-collapse: collapse !important;text-align:center;background-color:#f7f7f7 !important;
    }
    .table-custom-40 > tbody > tr > td {font-size:14px !important;color:#151515 !important;text-align:center;height:40px !important;border:1px solid #DDDEDE !important;
    border-collapse: collapse !important;
    }
    
    .table-custom-40-left > thead > tr > th {
    font-size:14px !important;color:#77787b !important;border:1px solid #DDDEDE !important;border-collapse: collapse !important;
    text-align:center;background-color:#f7f7f7 !important;
    }
    .table-custom-40-left > tbody > tr > th {
      font-size:14px !important;
      color:#77787b !important;
      border:1px solid #DDDEDE !important;
      border-collapse: collapse !important;
      text-align:left;
      background-color:#f7f7f7 !important;
      line-height:40px !important;
    }
    .table-custom-40-left > tbody > tr > td {
      font-size:14px !important;
      color:#151515 !important;
      text-align:left;
      height:40px !important;
      border:1px solid #DDDEDE !important;
      border-collapse: collapse !important;
      line-height:40px !important;
    }
    .popup-table > thead > tr > th {
      text-align:center !important;
      font-size:16px !important;
      color:#77787b !important;
      height:40px !important;
    }
    .popup-table > tbody > tr > td {
      text-align:center !important;
      font-size:16px !important;
      color:#151515 !important;
      height:40px !important;
    }